form {
  margin: auto;
  text-align: left;
  animation: fadeIn 0.5s;
}

.visually-hidden {
  display:none;
}

input {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  display: block;
  background: var(--off-white-50);
  border: none;
  border-radius: 8px;
  font-size: var(--body-text-small-size);
  color:var(--dark-teal);
  font-family: var(--body-font);
  
}

input:focus {
  outline: 2px solid var(--dark-orange); /* Change to your desired color and style */
}

label {
  font-size: var(--subheading-size);
  color: var(--dark-text);
  font-weight: var(--font-weight-bold);
}

fieldset {
  border: none; /* Removes the default border */
  padding: 0; /* Adjust padding as needed */
  margin: 0; /* Adjust margin as needed */
}

legend {
  font-size: var(--subheading-size);
  color: var(--dark-text);
  font-weight: var(--font-weight-bold);
  margin:0;
  padding:0;
}

.addRecipe .image-preview {
  width: calc(100% - 4px);
  max-width: fill;
  height: 250px;
  object-fit: cover;
  margin-top: 8px;
  display: block;
  cursor: pointer;
  border: solid 2px var(--green);
  border-radius: 8px;
}

.addRecipe .file-input {
  display: none;
}

.ingredient-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  font-size: var(--body-text-size);
  width:100%
}

.ingredient-list-edit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  font-size: var(--body-text-size);
  width:100%;

}

.ingredient-info {
  display: flex;
  gap: 3rem;
  align-items: center;
  font-weight: var(--font-weight-regular);
}

.amountAndUnit {
  width: 3rem;
  font-weight: var(--font-weight-bold);
}

.ingredient-fields {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
}

.button-save {
  font-size: var(--body-text-size);
  font-family: var(--body-font)
}


.ingredient-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.ingredient-buttons > .material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 30;
  font-size: 1rem;
}
.addRecipe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.steps-list {
  display: flex;
  align-items: flex-start; /* Align items to the start (top) */
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 0.5rem;
  font-size: var(--subheading-size-small);
}

.steps-list > section {
  display: flex;
  gap: 1rem;
}

.chooseTagRow {
  font-family: var(--body-font);
  font-weight: var(--font-weight-bold);
  color: var(--dark-text);
  height: 48px; /* Set the desired height */
  overflow-y: auto;
  white-space: nowrap;
  align-items: center;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.chooseTagRow::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0.5rem 0rem 0rem 0rem;
  width:100%
}

.button-add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 30;
  font-size: 1.5rem;
}

.ingredient-list > .material-symbols-rounded,
.steps-list > .material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 30;
  font-size: 1rem;
}

.step-description {
  font-weight: var(--font-weight-regular);
  font-size: var(--body-text-size);
}
