.buttonContainer {
    background-color: var(--light-teal);
    width:100%;
    height:9vh;
    position:fixed;
    bottom: 4rem;
    display:flex;
    align-items: center;
    justify-content: center;
}
