.recipeCardImage {
  width: 11rem;
  height: 6.5rem;
  object-fit: cover;
  border-radius: 8px 0px 0px 8px;
}

.recipeCardBoldTitle {
  font-weight: bold;
  height: 2.9rem;
}

.recipeCard {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
}

.recipeCardRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  gap: 0.5rem;
}

.recipeCardContainer {
  box-shadow: var(--box-shadow);
}
