.profile-container {

    bottom:0;
}

.profile-addrecipe {
    margin-top: 0.5rem;
    width:100%;
}


.profile-button-container {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:1rem;
    width:100%;
    padding-bottom:7rem;
}