nav {
  width: 100%;
  position: fixed;
  background-color: var(--light-teal);
  bottom: 0;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left:1rem;
  padding-right:1rem;
  padding-top:0.5rem;
}
/* Style the links inside the navigation bar */
nav a {
  display: inline-block;
  color: var(--dark-text);
  background-color: var(--light-teal);
  text-align: center;
  padding: 0 1rem 1rem 1rem;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: var(--body-font);
  font-weight: 700;
  font-size: var(--body-text-small-size);
}

.nav-link {
  display: flex;
  padding: 0;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-family: var(--body-font);
  font-weight: 400;
}

.active .material-symbols-rounded {
  font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 30;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 30;
  font-size: 2rem;
}
