/* ---------- form styling ---------- */

form {
    margin: auto;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 1em 1em 2em;
    background-color: var(--white);
    max-width: 380px;
    animation: fadeIn 0.5s;
}

form button {
    padding: 12px 15px;
    font-size: 1em;
    width: 100%;
    max-width: 350px;
}

.btn-sign-out {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    font-size: 0.7em;
    padding: 2.032em 1em;
}

input {
    margin: 1em auto;
    width: 100%;
    max-width: 350px;
    padding: 1em;
    box-sizing: border-box;
    display: block;
    background: var(--white);
    border: solid 2px var(--green);
}

form .file-input {
    display: none;
}